In [221]:
import pandas as pd
import os

notebook_dir = os.getcwd()
project_root = os.path.dirname(notebook_dir)
csv_path21 = os.path.join(project_root, "Data", "75_2021.csv")
csv_path22 = os.path.join(project_root, "Data", "75_2022.csv")
csv_path23 = os.path.join(project_root, "Data", "75_2023.csv")
csv_path24 = os.path.join(project_root, "Data", "75_2024.csv")
csv_path25 = os.path.join(project_root, "Data", "75_2025.csv")

df21 = pd.read_csv(csv_path21)
df22 = pd.read_csv(csv_path22)
df23 = pd.read_csv(csv_path23)
df24 = pd.read_csv(csv_path24)
df25 = pd.read_csv(csv_path25)

C:\Users\souri\AppData\Local\Temp\ipykernel_23364\3270127065.py:12: DtypeWarning: Columns (18,20,22,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df21 = pd.read_csv(csv_path21)
C:\Users\souri\AppData\Local\Temp\ipykernel_23364\3270127065.py:13: DtypeWarning: Columns (18,20,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df22 = pd.read_csv(csv_path22)
C:\Users\souri\AppData\Local\Temp\ipykernel_23364\3270127065.py:14: DtypeWarning: Columns (8,18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df23 = pd.read_csv(csv_path23)
C:\Users\souri\AppData\Local\Temp\ipykernel_23364\3270127065.py:15: DtypeWarning: Columns (8,18,20,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df24 = pd.read_csv(csv_path24)

In [222]:
df = pd.concat([df21, df22, df23, df24, df25], axis=0)
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,ancien_code_commune,ancien_nom_commune,id_parcelle,ancien_id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2021-1682469,2021-01-05,1,Vente,1480000.0,4.0,NaN,RUE DE LA BIENFAISANCE,0960,75008.0,75108,Paris 8e Arrondissement,75,NaN,NaN,75108000BX0073,NaN,NaN,13.0,116.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,111.0,5.0,NaN,NaN,NaN,NaN,NaN,2.320982,48.876954
1,2021-1682469,2021-01-05,1,Vente,1480000.0,4.0,NaN,RUE DE LA BIENFAISANCE,0960,75008.0,75108,Paris 8e Arrondissement,75,NaN,NaN,75108000BX0073,NaN,NaN,16.0,5.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.320982,48.876954
2,2021-1682469,2021-01-05,1,Vente,1480000.0,4.0,NaN,RUE DE LA BIENFAISANCE,0960,75008.0,75108,Paris 8e Arrondissement,75,NaN,NaN,75108000BX0073,NaN,NaN,13.0,116.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.320982,48.876954
3,2021-1682469,2021-01-05,1,Vente,1480000.0,4.0,NaN,RUE DE LA BIENFAISANCE,0960,75008.0,75108,Paris 8e Arrondissement,75,NaN,NaN,75108000BX0073,NaN,NaN,13.0,116.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.320982,48.876954
4,2021-1682470,2021-01-05,1,Vente,20000.0,17.0,NaN,RUE DE MADRID,5897,75008.0,75108,Paris 8e Arrondissement,75,NaN,NaN,75108000BX0080,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.319574,48.878074

In [223]:
pd.set_option('display.max_columns', 40)

df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id_mutation,366828,181696,2022-1670863,988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_mutation,366828,1338,2022-04-19,2359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
numero_disposition,366828.0,NaN,NaN,NaN,1.009599,0.115188,1.0,1.0,1.0,1.0,9.0
nature_mutation,366828,6,Vente,360445,NaN,NaN,NaN,NaN,NaN,NaN,NaN
valeur_fonciere,361804.0,NaN,NaN,NaN,3552480.213766,20735395.119147,0.15,260000.0,500000.0,1080000.0,1003401470.0
adresse_numero,365711.0,NaN,NaN,NaN,52.763447,194.188076,1.0,11.0,28.0,67.0,9999.0
adresse_suffixe,15756,12,B,12449,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adresse_nom_voie,365756,3954,RUE DE VAUGIRARD,2093,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adresse_code_voie,365756,5459,9624,1893,NaN,NaN,NaN,NaN,NaN,NaN,NaN
code_postal,365751.0,NaN,NaN,NaN,75013.20336,4.793116,75001.0,75010.0,75014.0,75017.0,75020.0
code_commune,366828.0,NaN,NaN,NaN,75113.201593,4.790462,75101.0,75110.0,75114.0,75117.0,75120.0
nom_commune,366828,20,Paris 15e Arrondissement,38891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
code_departement,366828.0,NaN,NaN,NaN,75.0,0.0,75.0,75.0,75.0,75.0,75.0
ancien_code_commune,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ancien_nom_commune,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_parcelle,366828,40338,75118000AV0007,799,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ancien_id_parcelle,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
numero_volume,1415.0,NaN,NaN,NaN,11431.966784,83955.164049,1.0,5.0,57.0,2016.0,1000085.0
lot1_numero,330271,7114,10,4983,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lot1_surface_carrez,142133.0,NaN,NaN,NaN,88.269904,498.279573,0.01,26.75,43.13,70.34,9532.0
lot2_numero,155672.0,4326.0,9.0,2456.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lot2_surface_carrez,42750.0,NaN,NaN,NaN,63.723394,69.458864,0.1,35.0425,52.54,77.68,7392.0
lot3_numero,26387.0,1001.0,9.0,749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lot3_surface_carrez,4402.0,NaN,NaN,NaN,92.165722,80.706725,0.1,42.1,72.04,122.1,1737.0
lot4_numero,9714.0,NaN,NaN,NaN,117.935145,732.236704,2.0,22.0,44.0,81.0,40354.0
lot4_surface_carrez,1101.0,NaN,NaN,NaN,98.1498,88.97011,1.01,43.68,70.84,123.1,894.64
lot5_numero,3952.0,NaN,NaN,NaN,142.313765,1049.436433,2.0,25.0,46.0,83.0,40355.0
lot5_surface_carrez,374.0,NaN,NaN,NaN,113.932754,121.881228,0.4,40.39,77.805,139.995,1010.0
nombre_lots,366828.0,NaN,NaN,NaN,1.456023,1.235649,0.0,1.0,1.0,2.0,236.0
code_type_local,363112.0,NaN,NaN,NaN,2.601244,0.611845,1.0,2.0,3.0,3.0,4.0
type_local,363112,4,Dépendance,171843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
surface_reelle_bati,191145.0,NaN,NaN,NaN,66.502802,237.676037,1.0,27.0,44.0,70.0,48630.0
nombre_pieces_principales,363061.0,NaN,NaN,NaN,1.113411,1.502748,0.0,0.0,0.0,2.0,34.0
code_nature_culture,35114,4,S,34483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nature_culture,35114,4,sols,34483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
code_nature_culture_speciale,442,3,IMM,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nature_culture_speciale,442,3,Dépendances d'ensemble immobilier,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
surface_terrain,34786.0,NaN,NaN,NaN,1041.421118,1414.564265,1.0,260.0,508.0,1213.0,35476.0
longitude,366217.0,NaN,NaN,NaN,2.338631,0.03849,2.255896,2.307132,2.339785,2.370448,2.41571
latitude,366217.0,NaN,NaN,NaN,48.861226,0.019789,48.816561,48.844763,48.861039,48.878275,48.900928

In [224]:
df.isna().sum().sum()

np.int64(6694201)

In [225]:
col_to_keep = ["id_mutation", "date_mutation", "nature_mutation", "valeur_fonciere", "adresse_nom_voie", "code_postal",
"type_local", "surface_reelle_bati", "nombre_pieces_principales", "longitude", "latitude"]

df = df[col_to_keep]

df.head()

,id_mutation,date_mutation,nature_mutation,valeur_fonciere,adresse_nom_voie,code_postal,type_local,surface_reelle_bati,nombre_pieces_principales,longitude,latitude
0,2021-1682469,2021-01-05,Vente,1480000.0,RUE DE LA BIENFAISANCE,75008.0,Appartement,111.0,5.0,2.320982,48.876954
1,2021-1682469,2021-01-05,Vente,1480000.0,RUE DE LA BIENFAISANCE,75008.0,Dépendance,NaN,0.0,2.320982,48.876954
2,2021-1682469,2021-01-05,Vente,1480000.0,RUE DE LA BIENFAISANCE,75008.0,Dépendance,NaN,0.0,2.320982,48.876954
3,2021-1682469,2021-01-05,Vente,1480000.0,RUE DE LA BIENFAISANCE,75008.0,Dépendance,NaN,0.0,2.320982,48.876954
4,2021-1682470,2021-01-05,Vente,20000.0,RUE DE MADRID,75008.0,Dépendance,NaN,0.0,2.319574,48.878074

In [226]:

df = df[df.type_local == "Appartement"]
df = df[df.nature_mutation == "Vente"]
df = df[df.surface_reelle_bati > 9]
df['nombre_pieces_principales'] = df['nombre_pieces_principales'].replace(0, 1)


df['valeur_fonciere'] = df.groupby('code_postal')['valeur_fonciere'].transform(
    lambda x: x.fillna(x.median())
)

In [227]:
df.isna().sum()

id_mutation                    0
date_mutation                  0
nature_mutation                0
valeur_fonciere                2
adresse_nom_voie               0
code_postal                    2
type_local                     0
surface_reelle_bati            0
nombre_pieces_principales      0
longitude                    311
latitude                     311
dtype: int64

In [228]:
df = df.dropna()

In [229]:
df["price_per_sqrtm"] = df["valeur_fonciere"] / df["surface_reelle_bati"]

df.head()

,id_mutation,date_mutation,nature_mutation,valeur_fonciere,adresse_nom_voie,code_postal,type_local,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,price_per_sqrtm
0,2021-1682469,2021-01-05,Vente,1480000.0,RUE DE LA BIENFAISANCE,75008.0,Appartement,111.0,5.0,2.320982,48.876954,13333.333333
5,2021-1682471,2021-01-08,Vente,410000.0,RUE SAINT-DENIS,75001.0,Appartement,31.0,2.0,2.349422,48.862768,13225.806452
8,2021-1682474,2021-01-07,Vente,300000.0,RUE DES TOURNELLES,75003.0,Appartement,23.0,1.0,2.367136,48.856147,13043.478261
10,2021-1682476,2021-01-06,Vente,1000000.0,RUE DU PARC ROYAL,75003.0,Appartement,60.0,2.0,2.362974,48.859331,16666.666667
13,2021-1682478,2021-01-08,Vente,1525559.0,RUE JEAN GOUJON,75008.0,Appartement,91.0,4.0,2.306396,48.866139,16764.384615

In [230]:
Q1 = df['price_per_sqrtm'].quantile(0.25)
Q3 = df['price_per_sqrtm'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1 * IQR

df = df[(df['price_per_sqrtm'] >= lower) & (df['price_per_sqrtm'] <= upper)]

In [231]:
df = df.drop(columns=["type_local", "nature_mutation"])

In [232]:
df.to_csv("../Data/xp.csv")

In [233]:
df.describe(include="all")

,id_mutation,date_mutation,valeur_fonciere,adresse_nom_voie,code_postal,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,price_per_sqrtm
count,131883,131883,1.318830e+05,131883,131883.000000,131883.000000,131883.000000,131883.000000,131883.000000,131883.000000
unique,126963,1300,NaN,3665,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-1670863,2022-04-19,NaN,RUE DE VAUGIRARD,NaN,NaN,NaN,NaN,NaN,NaN
freq,414,867,NaN,688,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,5.627392e+05,NaN,75013.444614,52.932076,2.406186,2.341204,48.861664,10418.828342
std,NaN,NaN,4.802194e+05,NaN,4.736318,36.972123,1.257223,0.037844,0.020282,2770.792818
min,NaN,NaN,1.800000e+04,NaN,75001.000000,10.000000,1.000000,2.255896,48.818759,1678.571429
25%,NaN,NaN,2.740000e+05,NaN,75011.000000,28.000000,1.000000,2.312453,48.844431,8714.285714
50%,NaN,NaN,4.228500e+05,NaN,75015.000000,43.000000,2.000000,2.344187,48.861896,10333.333333
75%,NaN,NaN,6.819898e+05,NaN,75017.000000,67.000000,3.000000,2.372400,48.879710,12028.353410
max,NaN,NaN,1.050000e+07,NaN,75020.000000,696.000000,34.000000,2.412825,48.900565,18314.606742

In [234]:
df.sample(10)

,id_mutation,date_mutation,valeur_fonciere,adresse_nom_voie,code_postal,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,price_per_sqrtm
35558,2021-1701398,2021-06-08,690000.0,RUE MONGE,75005.0,54.0,2.0,2.352439,48.841463,12777.777778
12781,2022-1647236,2022-04-14,980000.0,RUE AUBRIOT,75004.0,82.0,2.0,2.357011,48.858784,11951.219512
31586,2023-1337196,2023-10-25,1694500.0,RUE VIEILLE DU TEMPLE,75003.0,95.0,3.0,2.363470,48.861147,17836.842105
25865,2024-1203854,2024-10-15,232700.0,RUE VERNIER,75017.0,20.0,1.0,2.291182,48.883487,11635.000000
43535,2023-1342665,2023-02-27,385000.0,RUE RAFFET,75016.0,26.0,1.0,2.266002,48.850655,14807.692308
233,2021-1682645,2021-02-15,605000.0,RUE CLAPEYRON,75008.0,50.0,2.0,2.323470,48.881722,12100.000000
9043,2021-1688105,2021-06-17,580000.0,RUE DES FRANCS BOURGEOIS,75003.0,50.0,2.0,2.358631,48.859078,11600.000000
79293,2021-1724766,2021-03-03,210000.0,RUE DE PANAMA,75018.0,27.0,2.0,2.352897,48.887909,7777.777778
10026,2024-1195733,2024-04-26,1500000.0,RUE JEAN GOUJON,75008.0,90.0,3.0,2.306715,48.866158,16666.666667
74201,2024-1226295,2024-06-21,296000.0,RUE PETION,75011.0,38.0,2.0,2.381263,48.858629,7789.473684

In [235]:
df2 = pd.read_csv("../Data/metro-france.csv")
df2.sample(5)

,ID Line,Libelle Line,Libelle station,Longitude,Latitude,finish,Commune nom,Commune code Insee
621,33,B,Ramonville,1.475929,43.555700,0,Toulouse,31555
633,35,14,Hôpital bicêtre,2.349800,48.809400,0,Le Kremlin-Bicêtre,94043
455,24,9,Michel-Ange - Auteuil,2.263990,48.847975,1,Paris 16ème,75116
332,18,5,Saint-Marcel,2.360722,48.838512,1,Paris 13ème,75113
155,10,2,Rond Point du Prado,5.392374,43.271456,1,Marseille,13055

In [236]:
df2.describe(include='all')

,ID Line,Libelle Line,Libelle station,Longitude,Latitude,finish,Commune nom,Commune code Insee
count,708.000000,708,708,708.000000,708.000000,708.000000,708,708.000000
unique,NaN,26,577,NaN,NaN,NaN,111,NaN
top,NaN,2,République,NaN,NaN,NaN,Toulouse,NaN
freq,NaN,82,6,NaN,NaN,NaN,54,NaN
mean,19.481638,NaN,NaN,2.465180,48.074509,0.847458,NaN,68632.132768
std,10.228006,NaN,NaN,1.272257,2.029096,0.359800,NaN,21116.232579
min,1.000000,NaN,NaN,-1.713327,43.270624,0.000000,NaN,13055.000000
25%,11.000000,NaN,NaN,2.300996,48.734025,1.000000,NaN,59599.000000
50%,19.000000,NaN,NaN,2.354932,48.851705,1.000000,NaN,75110.000000
75%,28.000000,NaN,NaN,2.437275,48.880943,1.000000,NaN,75119.000000
max,40.000000,NaN,NaN,5.429629,50.743769,1.000000,NaN,95277.000000

In [237]:
df2 = df2[df2["Commune nom"].str.startswith("Paris", na=False)]
df2 = df2.drop(columns=["ID Line", "Commune nom"])

df2.sample(10)

,Libelle Line,Libelle station,Longitude,Latitude,finish,Commune code Insee
460,9,Trocadéro,2.287493,48.863488,1,75116
351,6,Glacière,2.343438,48.831116,1,75113
213,1,Franklin D. Roosevelt,2.309488,48.868725,1,75108
236,2,Villiers,2.315815,48.881073,1,75108
589,14,Porte de Clichy,2.313208,48.894431,1,75117
513,11,Arts et Métiers,2.356508,48.865300,1,75103
265,3,Havre-Caumartin,2.327651,48.873667,1,75109
267,3,Quatre Septembre,2.336319,48.869659,1,75102
472,9,Strasbourg - Saint-Denis,2.354492,48.869624,1,75110
307,4,Mouton-Duvernet,2.329888,48.831338,1,75114

In [238]:
df2['Commune code Insee'] = (df2['Commune code Insee'].astype(str).str[:-3] + '0' + df2['Commune code Insee'].astype(str).str[-2:]).astype(int)
df2.sample(10)

,Libelle Line,Libelle station,Longitude,Latitude,finish,Commune code Insee
539,12,Assemblée Nationale,2.320576,48.861072,1,75007
423,8,Richelieu - Drouot,2.338591,48.872136,1,75009
413,8,Boucicaut,2.287918,48.841024,1,75015
571,13,La Fourche,2.325714,48.887434,1,75018
560,13,Gaîté,2.322354,48.838526,1,75014
490,10,Cluny - La Sorbonne,2.344896,48.851027,1,75005
545,12,Montparnasse Bienvenue,2.323989,48.843824,1,75015
273,3,République,2.363302,48.867512,1,75003
321,5,Stalingrad,2.365774,48.884321,1,75019
479,9,Nation,2.395844,48.848084,1,75012

In [239]:
df2.to_csv("../Data/metro.csv")